{% extends "base.html" %}

{% block title %}
Edit Task
{% endblock %}

{% block content %}

<h2 class="mb-4">✏️ Edit Task</h2>

<form method="POST">

    <div class="mb-3">
        <label>Task Name</label>

        <input
            type="text"
            name="task_name"
            class="form-control"
            value="{{ task.task_name }}"
            required>
    </div>

    <div class="mb-3">
        <label>Due Date</label>

        <input
            type="date"
            name="due_date"
            class="form-control"
            value="{{ task.due_date }}"
            required>
    </div>

    <div class="mb-3">
        <label>Priority</label>

        <select
            name="priority"
            class="form-select">

            <option {% if task.priority=="High" %}selected{% endif %}>High</option>
            <option {% if task.priority=="Medium" %}selected{% endif %}>Medium</option>
            <option {% if task.priority=="Low" %}selected{% endif %}>Low</option>

        </select>

    </div>

    <button class="btn btn-success">
        Update Task
    </button>

    <a href="/tasks" class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}