{% extends "base.html" %}

{% block title %}
Subjects
{% endblock %}

{% block content %}

<h2 class="mb-4">📚 My Subjects</h2>

<form method="POST">

    <div class="input-group mb-4">

        <input
            type="text"
            name="subject"
            class="form-control"
            placeholder="Enter Subject Name"
            required>

        <button type="submit" class="btn btn-primary">
            Add Subject
        </button>

    </div>

</form>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th width="180">Action</th>
        </tr>

    </thead>

    <tbody>

    {% for subject in subjects %}

        <tr>

            <td>{{ subject.id }}</td>

            <td>{{ subject.subject_name }}</td>

            <td>

                <a href="/edit_subject/{{ subject.id }}" class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="/delete_subject/{{ subject.id }}" class="btn btn-danger btn-sm">
                    Delete
                </a>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

<a href="/dashboard" class="btn btn-secondary">
    ← Back to Dashboard
</a>

{% endblock %}