{% extends "base.html" %}

{% block title %}
Daily Tasks
{% endblock %}

{% block content %}

<h2 class="mb-4">✅ Daily Tasks</h2>

<form method="POST">

<div class="mb-3">

<label>Task Name</label>

<input
type="text"
name="task_name"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Due Date</label>

<input
type="date"
name="due_date"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Priority</label>

<select
name="priority"
class="form-select">

<option>High</option>
<option>Medium</option>
<option>Low</option>

</select>

</div>

<button class="btn btn-primary">
Add Task
</button>

</form>

<hr>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>

    {% for task in tasks %}

        <tr>

            <td>{{ task.task_name }}</td>

            <td>{{ task.due_date }}</td>

            <td>{{ task.priority }}</td>

            <td>

                {% if task.status == "Completed" %}

                    <span class="badge bg-success">
                        Completed
                    </span>

                {% else %}

                    <span class="badge bg-warning text-dark">
                        Pending
                    </span>

                {% endif %}

            </td>

            <td>

                <a href="/edit_task/{{ task.id }}"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="/delete_task/{{ task.id }}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>

                {% if task.status == "Pending" %}

                <a href="/complete_task/{{ task.id }}"
                   class="btn btn-success btn-sm">
                    Complete
                </a>

                {% endif %}

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

<a href="/dashboard" class="btn btn-secondary">
Back
</a>

{% endblock %}